page-livescore{
    .dot {
        height: 45px;
        width: 45px;
        background-color:#00BFA5;
        color:white;
        border-radius: 50%;
        display: inline-block;
        padding: 0px;
        margin-left:5px;
      }
      .dott {
        height: 45px;
        width: 45px;
        background-color:#00BFA5;
        color:white;
        display: inline-block;
        padding: 0px;
        margin-left:5px;
      }
      .toolbar-md{
          padding:15px;
      }
}